h2{
    width: 200px;
    font-family: MicrosoftYaHei;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 37px;
    letter-spacing: 1px;
    color: #333333;
    border-bottom: 3px solid #333333;
    padding: 10px 0;
    text-align: center;
    margin: 0 auto;
}
.xw{
    height: 200px;
}
.xw img{
    width: 300px;
    height: 170px;
    float: left;
}
.wz{
    width: 800px;
    padding: 20px;
}
h3{
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
}
p{
    line-height: 30px;
}